.fish {
    position: absolute;
}
.small {
    width: 35px;
    height: 35px;
}
.medium {
    width: 80px;
    height: 80px;
}
.baby {
    width: 20px;
    height: 20px;
}
.large {
    width: 120px;
    height: 120px;
}
